<div class="restriccion-ancho-header">
    <a id="enlace-logo-dinamico" href="" class="contenedor-escudo-enlace" title="I.E. N° 80018 República de México - Ir al Inicio" aria-label="Ir a la página principal">
        <img src="" alt="Insignia Oficial del Colegio" class="img-escudo-global">
    </a> 
    <nav class="menu-navegacion-global" aria-label="Navegación principal">
        <ul class="lista-enlaces-global">
            <li><a id="link-inicio" href="" class="link-nav">Inicio</a></li>
            <li><a id="link-nosotros" href="" class="link-nav">Nosotros</a></li>
            <li><a id="link-academico" href="" class="link-nav">Académico</a></li>
            <li><a id="link-procesos" href="" class="link-nav">Procesos</a></li>
            <li><a id="link-institucional" href="" class="link-nav">Institucional</a></li>
            <li><a id="link-contacto" href="" class="link-nav">Contacto</a></li>
        </ul>
    </nav>



</div>
